@model Service

<div class="container">
	<div class="row justify-content-center">
		<div class="col-11">
			<h5>Create Team Section Employee</h5>
			<form class="user" method="post">
				<div class="form-group row">
					<div class="col-sm-4 mb-3 mb-sm-0">
						<input asp-for="Name" type="text" class="form-control form-control-user"
							   placeholder="First Name">
						<span asp-validation-for="Name"></span>
					</div>
					<div class="col-sm-4">
						<input asp-for="Title" type="text" class="form-control form-control-user"
							   placeholder="Title">
						<span asp-validation-for="Title"></span>

					</div>
					<div class="col-sm-4">
						<label>Icons:</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" value="bx bxl-dribbble" id="inlineCheckbox1">
							<div class="icon" style="font-size: 48px;"><i class="bx bxl-dribbble"></i></div>

						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" value="bx bx-file" id="inlineCheckbox2">
							<div class="icon" style="font-size: 48px;"><i class="bx bx-file"></i></div>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" value="bx bx-tachometer" id="inlineCheckbox3">
							<div class="icon" style="font-size: 48px;"><i class="bx bx-tachometer"></i></div>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" value="bx bx-world" id="inlineCheckbox4">
							<div class="icon" style="font-size: 48px;"><i class="bx bx-world"></i></div>
						</div>

						<span asp-validation-for="Icon"></span>

					</div>

				</div>
				<div class="row justify-content-center">

					<div class="col-lg-5 col-sm-12 col-md-10 ">

						<button type="submit" class="btn btn-primary btn-user btn-block">
							Create
						</button>
						<hr>
						<a asp-action="Index" asp-controller="Service" class="btn btn-google btn-user btn-block">
							Cancel
						</a>
					</div>
				</div>

			</form>

		</div>
	</div>
</div>

